.bor_r_15{
    border-radius: 15px;
}
.topText{
    color: rgb(255, 255, 255);
    font-size: 58px;
    font-weight: 700;
    font-family: Stratos, sans-serif;
    transition-duration: 0.5s, 0.5s;
    transition-property: opacity, transform;
    text-transform: uppercase;
}
.ownMenu{
    font-weight: normal;
    color: rgb(255,255,255);
}

.ownMenu:hover {
    color: rgb(188, 188, 188);
}

.ownMenuDark {
    font-weight: normal;
    color: #252525;
}

.ownMenuDark:hover {
    color: rgb(188, 188, 188);
}

.flex-column {
    max-width : 260px;
}
.ownImg {
    margin: 5px;
}

.malibuBtn {
    background: #027DFA;
    color: rgb(255,255,255);
}

.purpleBtn {
    width: 171px;
    height: 36px;
    color: rgb(255,255,255);
    background: #027DFA;
    border-radius: 32px;
}

.purpleBtn:hover {

}

marquee {
    font-size: 60px;
    font-weight: 800;
    z-index: 100;
}

/*Catalog*/
.cardToys {
    cursor: pointer;
}
.cardToys:hover {

}
/*/Catalog*/
.animation_social_media {
    margin: 0 auto;
    max-width: 400px;
    height: 229px;

    display: flex;
}

.social-blob__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 110px;
    border-radius: 100%;
    background: #fff;

}

.social-blob__wrapper:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 100px;
    border-radius: 100%;
    color: rgb(255, 255,255);
    transition: .3s ease;
    animation: 4.5s ease infinite alternate;
}

.cardForm {
    box-shadow: 0 6px 28px -8px rgba(97,13,161,.15);
    border-radius: 9px;
}

.form-label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: .02em;
    color: #1f1f1f;
    margin-bottom: 8px;
}

.nav__item  {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 146%;
    text-align: center;
    letter-spacing: .02em;
    color: rgb(255, 255,255);
    transition: all .2s ease;
}

.nav__item:hover {
    color: rgb(188, 188, 188);
}

.underFooter {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 146%;
    text-align: center;
    letter-spacing: .02em;
    color: rgb(188, 188, 188);
    transition: all .2s ease;
    margin-bottom: 0;
}

.underFooter:hover {
    color: rgb(255, 255,255);
}

.primary-btn {
    border-radius: 32px;
    border: 1px transparent;
    background-color: #027DFA;
    color: rgb(255,255,255);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    height: 36px;
    font-size: 14px;
    letter-spacing: .02em;
    font-weight: 700;
    box-shadow: 0 6px 28px -8px rgba(97,13,161,.15);
    transition-duration: .5s;
}

.primary-btn:hover {
    box-shadow: 0 6px 28px -8px rgba(158, 78, 230, 0.15);
}

.formHeading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #027DFA;
    margin-bottom: 16px;
}

.whatsappIcon {
    width: 48px;
    height: 48px;
    bottom: 48px;
    right: 48px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/*.carouselNext {
    width: 68px;
    height: 68px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 0;
    background: rgb(255,255,255)!important;
    box-shadow: 3px 4px 24px -1px rgba(97,13,161,.1);
    transition: all .7s ease;
}

.carouselNext i {
    background: red;
}

.carouselPrev {
    width: 68px;
    height: 68px;
    border-radius: 100px;
    transition: all .5s ease;
    cursor: pointer;
    font-size: 0;
    background: #ffffff!important;
    box-shadow: none;
    cursor: pointer;
}*/

.contactLabel {
    font-style: normal;
    font-size: 14px;
    letter-spacing: .02em;
    font-weight: 400;
    line-height: 144%;
    color: #acc3ff;
}

.contactSrc {
    font-weight: 700;
    line-height: 146%;
    color: #fff;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .02em;
}

.faqHeading {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #1f1f1f;
}

.faqCard {
    background: rgb(255,255,255);
    border-radius: 90px;
}
