html body {
    font-family: Stratos, sans-serif;
}

#reviews {
    background: url("../img/reviews.png") no-repeat;

}

.picture {
    min-height: 233px;
    transition: all .3s ease;
    overflow: hidden;
    transform: scaleX(1);
}

/*reviews zoom*/
.flash {
    overflow: hidden;
    border-radius: 15px;
}
.picture {
    transition: transform 0.25s;
}
.flash:hover .picture {
    transform: scale(1.1);
}

#stock {
    min-height: 100vh;
}



.card .picture {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 8px 0 0;
    background-position: 50%;
}

.cardReview .first {
    max-height: 200px;
    height: 100%;
    justify-content: unset;
    padding-bottom: 0;
}

.cardReview .info {
    z-index: 1;
    background: #fff;
    margin-top: 0;
    padding-top: 18px;
}

.info_title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.5%;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #1f1f1f;
}

.info_subTitle {
    line-height: 144%;
    letter-spacing: .02em;
    color: #b9b2bd;
    margin-top: 8px;
    margin-bottom: 4px;
    max-height: 60px;
    overflow: hidden;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.nav-link {
    font-family: OpenSans, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

.mainPageTitle {
    font-size: 96px;
    font-weight: 700;
    height: 200px;
    letter-spacing: 1.1px;
    color: #fff;
    line-height: 1.05;
    opacity: 0;
    transform: translate3d(0,50px,1px);
    transition: opacity .5s ease,transform .5s ease;
}

.bor_r_15{
    border-radius: 15px;
}
.topText{
    color: rgb(255, 255, 255);
    font-size: 58px;
    font-weight: 700;
    font-family: Stratos, sans-serif;
    transition-duration: 0.5s, 0.5s;
    transition-property: opacity, transform;
}
.ownMenu{
    font-weight: normal;
    color: rgb(255,255,255);
}

.ownMenu:hover {
    color: rgb(188, 188, 188);
}

.ownMenuDark {
    font-weight: normal;
    color: #252525;
}

.ownMenuDark:hover {
    color: rgb(188, 188, 188);
}

.flex-column {
    max-width : 260px;
}
.ownImg {
    margin: 5px;
}

.malibuBtn {
    background: #027DFA;
    color: rgb(255,255,255);
}

.purpleBtn {
    width: 171px;
    height: 36px;
    color: rgb(255,255,255);
    background: #027DFA;
    border-radius: 32px;
}

.purpleBtn:hover {

}

marquee {
    font-size: 60px;
    font-weight: 800;
    z-index: 100;
}

/*Catalog*/
.cardToys {
    cursor: pointer;
}
.cardToys:hover {

}
/*/Catalog*/

.social-blob__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 110px;
    border-radius: 100%;
    background: #fff;

}

.social-blob__wrapper:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 100px;
    border-radius: 100%;
    color: rgb(255, 255,255);
    transition: .3s ease;
    animation: 4.5s ease infinite alternate;
}

.cardForm {
    box-shadow: 0 6px 28px -8px rgba(97,13,161,.15);
    border-radius: 9px;
}

.form-label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: .02em;
    color: #1f1f1f;
    margin-bottom: 8px;
}

.nav__item  {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 146%;
    text-align: center;
    letter-spacing: .02em;
    color: rgb(255, 255,255);
    transition: all .2s ease;
}

.nav__item:hover {
    color: rgb(188, 188, 188);
}

/*.footer {
    position: absolute;
    color: rgb(255,255,255);
}*/

.underFooter {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 146%;
    text-align: center;
    letter-spacing: .02em;
    color: rgb(188, 188, 188);
    transition: all .2s ease;
    margin-bottom: 0;
}

.underFooter:hover {
    color: rgb(255, 255,255);
}

.primary-btn {
    border-radius: 32px;
    border: 1px transparent;
    background-color: #027DFA;
    color: rgb(255,255,255);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    height: 36px;
    font-size: 14px;
    letter-spacing: .02em;
    font-weight: 700;
    box-shadow: 0 6px 28px -8px rgba(97,13,161,.15);
    transition-duration: .5s;
}

.primary-btn:hover {
    box-shadow: 0 6px 28px -8px rgba(158, 78, 230, 0.15);
}

.formHeading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #027DFA;
    margin-bottom: 16px;
}

.nav__item {
    cursor: pointer;
}

.whatsappIcon {
    width: 48px;
    height: 48px;
    bottom: 48px;
    right: 48px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

/*.carouselNext {
    width: 68px;
    height: 68px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 0;
    background: rgb(255,255,255)!important;
    box-shadow: 3px 4px 24px -1px rgba(97,13,161,.1);
    transition: all .7s ease;
}

.carouselNext i {
    background: red;
}

.carouselPrev {
    width: 68px;
    height: 68px;
    border-radius: 100px;
    transition: all .5s ease;
    cursor: pointer;
    font-size: 0;
    background: #ffffff!important;
    box-shadow: none;
    cursor: pointer;
}*/

.contactLabel {
    font-style: normal;
    font-size: 14px;
    letter-spacing: .02em;
    font-weight: 400;
    line-height: 144%;
    color: #acc3ff;
}

.contactSrc {
    font-weight: 700;
    line-height: 146%;
    color: #fff;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .02em;
}

.faqHeading {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #1f1f1f;
}

.faqCard {
    background: rgb(255,255,255);
    border-radius: 90px;
}

.stockCardTitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.5%;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.stockCardSubTitle {
    line-height: 144%;
    font-size: 12px;
    letter-spacing: .02em;
    color: #b9b2bd;
    margin-top: 8px;
    margin-bottom: 4px;
}

/*news*/
#news {
    background-image: url("../img/news.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 175vh;
}

.newsImg {
    border-radius: 8px;
}

.newsTitle {
    color: #0d0d0d;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.5%;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.newsSubtitle {
    line-height: 144%;
    font-size: 12px;
    letter-spacing: .02em;
    color: #b9b2bd;
    margin-top: 8px;
    margin-bottom: 4px;
}

.newsUnderTime {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    line-height: 133%;
    font-weight: 700;
    margin-bottom: 24px;
}

.newsUnderTitle {
    font-size: 18px;
    line-height: 1.35;
    text-transform: uppercase;
}

.newsUnderSubTitle {
    font-size: 14px;
    letter-spacing: .02em;
    margin-top: 8px;
    color: #b9b2bd;
}
/*/news*/



/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
}

/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 104%;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #1f1f1f;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */

@-webkit-keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-400%, 0, 0); }
}

@keyframes tickerh {
    0% { transform: translate3d(0, 0, 0); }
    0% { transform: translate3d(-400%, 0, 0); }
}
.hmove { animation: tickerh linear 25s infinite; }
/*.hmove:hover { animation-play-state: paused; }*/



/* (A) FIXED WRAPPER */
.hwrap2 {
    overflow: hidden; /* HIDE SCROLL BAR */
}

/* (B) MOVING TICKER WRAPPER */
.hmove2 { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem2 {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 104%;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #1f1f1f;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@-webkit-keyframes tickerh2 {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-400%, 0, 0); }
}
@keyframes tickerh2 {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-400%, 0, 0); }
}
.hmove2 { animation: tickerh2 linear 25s infinite; }
/*
.hmove:hover { animation-play-state: paused; }ver { animation-play-state: paused; }*/


/*
tabs*/
.tabs {
    display: flex;
    padding: 1rem 1rem 0;
    width: 100%;
    border-bottom: solid 0.1rem rgb(255 255 255 / 70%);
}

.tabs>.nav {
    position: relative;
    padding: 0.5rem 1.5rem;
    margin: 0 0.75rem 0.1rem 0;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background-color: transparent;
    backdrop-filter: blur(13px);
    z-index: 20;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 146%;
    letter-spacing: .02em;
}

.tabs>.nav:hover {
    cursor: pointer;
    color: #027DFA;
    transform: scale(1.1);
    margin-top: -0.3rem;
    padding-top: 0.75rem;
    z-index: 30;
}

:has(#tab-1:checked) [for="tab-1"],
:has(#tab-2:checked) [for="tab-2"],
:has(#tab-3:checked) [for="tab-3"] {
    cursor: pointer;
    border: 2px solid #027DFA;
    border-radius: 50px;
    color: #027DFA;
    transform: scale(1.1);
    margin-top: -0.3rem;
    padding-top: 0.75rem;
    z-index: 30;
}


.content {
    position: relative;
    width: 100%;
    height: calc(100vh - 3rem);
    padding: 0.5rem;
    background-color: rgb(255 255 255 / 40%);
    backdrop-filter: blur(13px);
    z-index: 10;
}

.content>section {
    display: none;
    flex-direction: column;
}

.content>section>p {
    padding: 0 0.5rem;
}

.content>section>p+p {
    margin: 0.25rem 0;
}

.content:has([id="tab-1"]:checked)>section:nth-child(1),
.content:has([id="tab-2"]:checked)>section:nth-child(2),
.content:has([id="tab-3"]:checked)>section:nth-child(3) {
    display: flex;
}

.reviewsCard {
    margin: 0 auto 42px;
}

.aboutUsCarouselTitle {
    font-style: normal;
    font-weight: 400;
    color: #1f1f1f;
    font-family: Stratos;
    font-size: 24px;
    display: flex;
    align-items: center;
    letter-spacing: .08em;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.aboutUsCarouselSubTitle {
    font-family: OpenSans;
    font-size: 18px;
    letter-spacing: .01em;
    padding-bottom: 70px;
    font-style: normal;
    font-weight: 400;
    color: #1f1f1f;
}

.auCollapseTitle {
    font-family: Stratos;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #1f1f1f;
}

.auCollapseTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.auCollapseSubTitle {
    margin-top: 5%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: .02em;
    color: #1f1f1f;
}

.bapTitle {
    font-weight: 800;
}

.text-successS {
    color: #027DFA;
}



@media (max-width: 576px) {
    .hitem {
        font-size: 36px;
    }
    .hitem2 {
        font-size: 36px;
    }
    .mainPageTitle {
        font-size: 36px;
    }
    .animeSocialMedia {
        left: 0;
    }
    .mobileHidden {
        display: none;
    }
    .mh80 {
        height: 30px!important;
    }
}

@media (min-width: 576px) {
    .hitem {
        font-size: 36px;
    }
    .hitem2 {
        font-size: 36px;
    }
    .mainPageTitle {
        font-size: 36px;
    }
    .animeSocialMedia {
        left: 20px;
    }
    .mobileHidden {
        display: none;
    }
    .mh80 {
        height: 30px!important;
    }
}


@media (min-width: 768px) {
    .hitem {
        font-size: 56px;
    }
    .hitem2 {
        font-size: 56px;
    }
    .mainPageTitle {
        font-size: 56px;
    }
    .animeSocialMedia {
        left: 60px;
    }
    .mobileHidden {
        display: block;
    }
    .mh80 {
        height: 90px!important;
    }
}


@media (min-width: 992px) {
    .hitem {
        font-size: 76px;
    }
    .hitem2 {
        font-size: 76px;
    }
    .mainPageTitle {
        font-size: 56px;
    }
    .animeSocialMedia {
        left: 70px;
    }
    .mobileHidden {
        display: block;
    }
    .mh80 {
        height: 80px!important;
    }
}


@media (min-width: 1200px) {
    .mainPageTitle {
        font-size: 66px;
    }
    .animeSocialMedia {
        left: 120px;
    }
    .mobileHidden {
        display: block;
    }
    .mh80 {
        height: 100px!important;
    }
}

/*NAVBAR*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    border-radius: 8px;
    position: absolute;
    background-color: #ffffff;
    color: #0d0d0d;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}





select {
    /* Reset Select */
    appearance: none;
    width: 100%;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #000;
    border: 1px solid #cccccc;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    padding: 0;
    width: 100%;
    height: 2.5em;
    border-radius: .25em;
    overflow: hidden;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    color: #cccccc;
    background-color: transparent;
    border: 1px solid #cccccc;
    transition: .25s all ease;
    pointer-events: none;
}

.container-fluid {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding:0 12px;
}

body {
    overflow-x: hidden!important;
}
.clearfix {
    overflow: auto;
}